#editor-container {
    margin: 0 auto;
    margin-top: 2em;
    width: 80%;
    height: 35%;
    background-color: red;
}

#editor {
    width: 100%;
    height: 100%;
    padding: 1em;
}

#editor:focus-visible {
    outline: none;
}