$base-color: rgb(178, 168, 253);
$items-color: rgb(223, 220, 255);

* {
  box-sizing: border-box;
}

body {
  background-color: $base-color;
}

#app {
  height: 100vh;
  padding: 1em;
}

#prewiew-container, #editor-container, #editor {
  background-color: $items-color;
}

#prewiew-container, #editor-container {
  border: 1px black solid;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 10px 2px rgb(82, 75, 134);
}


