$base-color: rgb(178, 168, 253);
$items-color: rgb(223, 220, 255);

* {
  box-sizing: border-box;
}

body {
  background-color: $base-color;
}

#maximised {
  height: 100vh;
}
 
#app {
  height: 100%;
  padding: 1em;
  min-width: 280px;
}

#prewiew-container, #editor-container, #editor, #maximised {
  background-color: $items-color;
}

#none {
  display: none;
}

#prewiew-container, #editor-container, #maximised {
  
  border: 1px black solid;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 10px 2px rgb(82, 75, 134);
}




